* {
  box-sizing: border-box;
}

html,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

body {
  width: 100%;
  height: 100%;
  margin: 0em;
  padding: 0em;
  background-color: #eff3f7;
}

.container {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
}

.loader .loader_text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3em;
}

.movies {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
